.receiptForm{
  // border-style: solid;
  // border-style: groove;
  // border-width: thin;
  // padding: 10px;
}

.receiptTitle{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

label.receiptTitle{
  vertical-align: sub;
}