.receiptForm{
  // border-style: solid;
  // border-style: groove;
  // border-width: thin;
  // padding: 10px;
  background-color: #FFFFFF;
}

.receiptTitle{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

label.receiptTitle{
  vertical-align: sub;
}

#printButton{
  width: 100% !important;
}

table{
  display: block;
  height: 150px;
  overflow-y: scroll;
}